* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    user-select: none;
}

/* BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY */

main {
    width: 100%;
    margin-left: 35px;
}

#body {
    display: flex;
    padding: 10px;
}

#fileOptionsContainer {
    display: flex;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #342f58;
    padding: 15px 10px;
}

#loadJsonButton {
    text-wrap: nowrap;
    display: flex;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    border: 0.5px solid #746f9b;
    transition: background-color 0.3s ease;
}

#loadJsonButton:hover {
    background-color: #dcd5ec;
}

#saveButton {
    text-wrap: nowrap;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-left: 20px;
    border-radius: 5px;
    border: 0.5px solid #746f9b;
    transition: background-color 0.3s ease;
}

#saveButton:hover {
    background-color: #dcd5ec;
}

.expandAllButton {
    text-wrap: nowrap;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-left: 20px;
    border-radius: 5px;
    border: 0.5px solid #746f9b;
    transition: background-color 0.3s ease;
}

.expandAllButton:hover {
    background-color: #dcd5ec;
}

.closeAllButton {
    text-wrap: nowrap;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-left: 20px;
    border-radius: 5px;
    border: 0.5px solid #746f9b;
    transition: background-color 0.3s ease;
}

.closeAllButton:hover {
    background-color: #dcd5ec;
}

/* MODAL - MODAL - MODAL - MODAL - MODAL - MODAL - MODAL - MODAL - MODAL */

.leftSidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #342f58;
}

.osModalContainer {
    display: none;
    position: fixed;
    top: 0;
    right: -60%;
    height: 100vh;
    width: 60%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    z-index: 10;
}

.osModalContainer.show {
    right: 0;
    overflow-y: auto;
}

.osModalContainer.hide {
    right: -60%;
}

.optionRowsContainer {
    padding: 15px;
    padding-top: 10px;
    flex-grow: 1;
}

.newOptionBtnContainer {
    display: flex;
    justify-content: end;
}

.optionAddNew {
    text-wrap: nowrap;
    padding: 5px;
    margin: 0 15px 0 0;
}

/*OPTION SET LIST - OPTION SET LIST - OPTION SET LIST */

.optionsBodyContainer { 
    position: relative;

}

.optionSetList{
   position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1001;
    display: none;
}
/* SECTION - SECTION - SECTION - SECTION - SECTION - SECTION - SECTION */

.sectionTable {
    width: 100%;
    box-sizing: border-box;
    user-select: none;
}

.sectionRow {
    height: auto;
    background-color: #fff6cf;
    list-style: none;
    display: flex;

    &.expanded .sectionDropdownButton {
        transform: rotate(45deg);
    }
    &.folded .sectionDropdownButton {
        transform: rotate(-45deg);
    }
    &.dragging {
        border: 1px solid black;
        opacity: 0.5;
    }
}

.sectionClicked {
    background-color: #ffffff;
    left: 50px;
}

.sectionDropdownCell {
    width: 25px;
    border: solid 1px #ffffff;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

/* ITEM - ITEM - ITEM - ITEM - ITEM - ITEM - ITEM - ITEM - ITEM - ITEM */

.itemTable {
    width: 100%;
    margin-top: 5px;
}

.itemRow {
    display: flex;
    height: auto;
    background-color: #e2def9;
    list-style: none;

    &.expanded .sectionDropdownButton {
        transform: rotate(45deg);
    }
    &.folded .sectionDropdownButton {
        transform: rotate(-45deg);
    }
    &.dragging {
        border: 1px solid black;
        opacity: 0.5;
    }
}

/* OS - OS - OS - OS - OS - OS - OS - OS - OS - OS - OS - OS - OS - OS - OS */

.osRowHeader {
    display: flex;
    height: auto;
    padding: 7.5px 0px;
    justify-content: space-between;
    border-radius: 5px;
    margin-top: 3px;

    &.expanded .osDropdownButton {
        transform: rotate(45deg);
    }
    &.folded .osDropdownButton {
        transform: rotate(-45deg);
    }
    &.dragging {
        border: 1px solid black;
        opacity: 0.75;
    }
}

.osRowHeader.odd {
    background-color: #342f58;
}

.osRowHeader.even {
    background-color: #b29346;
}

.osContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 5px;
    margin: 5px 0;
}

.dropAndName {
    display: flex;
}

.nameAndOsId {
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 10px;
}

.osNameHeader {
    flex-grow: 1;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    transition: opacity 0.3s ease;

}

.osNameHeader:hover {
    opacity: 0.65;
}

.optionSetIdPreview {
    font-size: 11px;
    padding-top: 5px;
    color: #e4e4e4;
    user-select: text;
}

.optionSetId {
    font-size: 12px;
    padding-top: 10px;
    color: #787777;
    user-select: text;
}

.osSelectOptionContainer {
    color: #ffffff;
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.osSelectOptionContainer.osModal {
    padding-right: 10px;
}

.osRowOption {
    display: flex;
    padding: 7.5px 15px;
    justify-content: space-between;
    background-color: #f5f5f5;
    align-items: center;
}

/*  OPTION NAV -  OPTION NAV -  OPTION NAV -  OPTION NAV -  OPTION NAV -  OPTION NAV */

.osModalNav {
    padding: 15px 15px 0 15px;
}

.osOptionsRow {
    display: flex;
    padding: 10px 0;
    align-items: center;
}

.selectOptionContainer {
    background-color: #f0f0f0;
    border-radius: 5px;
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.selectOption {
    display: flex;
}

.dashCountCell {
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.maxCountCell {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maxCount {
    padding: 5px 7.5px;
    font-size: 13px;
}

.minCountCell {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.minCount {
    padding: 5px 7.5px;
    font-size: 13px;
}

.countText {
    padding-top: 5px;
    font-size: 12px;
}

.nameAndMoM {
    border: solid 1px #ffffff;
    flex-grow: 1;
}

.optionMoMPreview {
    user-select: text;
    display: flex;
    align-items: center;
}

.optionRow {
    display: flex;
    border-radius: 7.5px;

    &.expanded .osDropdownButton {
        transform: rotate(45deg);
    }
    &.folded .osDropdownButton {
        transform: rotate(-45deg);
    }
    &.dragging {
        border: 1px solid black;
        opacity: 0.75;
    }
}

.optionRow.odd {
    background-color: #eceaff;
}

.optionRow.even {
    background-color: #d7d3ed;
}

.optionRow.unavailable {
    background-color: #bcbbbb;
}

.optionContainer {
    height: auto;
    padding: 7.5px 0px;
}

.optionText {
    display: flex;
    font-size: 13px;
    user-select: text;
}

.previewPriceAndTax {
    display: flex;
    font-size: 13px;
    user-select: text;
}

.previewNameAndMoM {
    display: flex;
    font-size: 13px;
    user-select: text;
    margin-right: 10px;
}

.dashAndMoM {
    display: flex;
}

/* DROPDOWN - DROPDOWN - DROPDOWN - DROPDOWN - DROPDOWN - DROPDOWN - DROPDOWN */

.boxDropdownButton {
    display: flex;
    margin-left: 25%;
}

.sectionDropdownButton {
    display: block;
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    border-right: 2px solid #555;
    border-bottom: 2px solid #555;
    transition: transform 0.1s linear, opacity 0.3s ease;
    cursor: pointer;
}

.sectionDropdownButton:hover {
    opacity: 0.5;
}

.itemDropdownCell {
    display: flex;
    align-items: center;
    width: 25px;
    border: solid 1px #ffffff;
    flex-shrink: 0;
}

.osDropdownCell {
    display: flex;
    align-items: center;
    width: 25px;
    padding-left: 10px;
    flex-shrink: 0;
}

.osDropdownCell.osModal {
    padding: 0;
}

.osDropdownButton {
    display: block;
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    transition: transform 0.1s linear, opacity 0.3s ease;
    cursor: pointer;
}

.osDropdownButton:hover {
    opacity: 0.5;
}

/* DRAG AND DROP - DRAG AND DROP - DRAG AND DROP - DRAG AND DROP - DRAG AND DROP */

.sectionDragCell {
    display: flex;
    align-items: center;
    width: 25px;
    justify-content: center;
    border: solid 1px #ffffff;
    flex-shrink: 0;
}

.osDragCell {
    display: flex;
    align-items: center;
    width: 25px;
    justify-content: center;
    flex-shrink: 0;
}

.sectionDragImg {
    width: 22px;
    cursor: grab;
    margin: 0;
}

.osDragImg {
    width: 22px;
    cursor: grab;
    margin: 0;
    color: white;
}

.dragging {
    transition: transform 0.01 linear;
}

selector svg {
    fill: yellow;
}

.clickOnDrag {
    transition: transform 0.01 linear;
}

/* BUTTONS CELL - BUTTONS CELL - BUTTONS CELL - BUTTONS CELL - BUTTONS CELL */

.sectionButtonsCell {
    width: 25px;
    border: solid 1px #ffffff;
}

.sectionButton {
    border: none;
    border-radius: 3px;
    height: 25px;
    width: 25px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionButtonImg {
    width: 20px;
}

.osBtnsCell {
    width: 130px;
    display: flex;
    justify-content: space-between;
}

.optionButtonsCell {
    width: fit-content;
    padding: 0 5px;
    border: solid 1px #ffffff;
    display: flex;
    align-items: center;
}

/* NAME - NAME - NAME - NAME - NAME - NAME - NAME - NAME - NAME - NAME */

.sectionNameCell {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 100px;
    border: solid 1px #ffffff;
    flex-shrink: 0;
}

.sectionName {
    font-size: 13px;
    font-weight: bold;
    word-break: break-word;
    padding: 5px;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
}

.itemNameCell {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 100px;
    border: solid 1px #ffffff;
    flex-shrink: 0;
    cursor: text;
}

.itemName {
    font-size: 14px;
    word-break: break-word;
    padding: 5px;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
}

.osNameCell {
    flex-grow: 1;
    padding-right: 10px;
}

.osName {
    border: #000000 solid 1px;
    border-radius: 5px;
    padding: 5px;
}

.optionNameCell {
    /* padding: 5px; */
    font-size: 13px;
}

.optionName {
    display: flex;
    align-items: center;
    height: auto;
    padding: 5px;
    word-break: break-word;
}

/* MOM - MOM - MOM - MOM - MOM - MOM - MOM - MOM - MOM - MOM - MOM - MOM */

.optionMoMCell {
    font-size: 12px;
}

.optionMoM {
    display: flex;
    align-items: center;
    height: 25px;
    padding: 0 5px;
}

/* DESCRIPTION - DESCRIPTION - DESCRIPTION - DESCRIPTION - DESCRIPTION */

.sectionDescCell {
    padding: 5px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    border: solid 1px #ffffff;
}

.sectionDesc {
    font-size: 12px;
    padding: 5px;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
}

.itemDescCell {
    padding: 5px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    border: solid 1px #ffffff;
}

/* PRICE - PRICE - PRICE - PRICE - PRICE - PRICE - PRICE - PRICE - PRICE - PRICE */

.itemPriceCell {
    display: flex;
    padding: 5px;
    width: 50px;
    border: solid 1px #ffffff;
    flex-shrink: 0;
}

.itemPrice {
    font-size: 12px;
    padding: 5px;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;
}

.optionPriceCell {
    border: solid 1px #ffffff;
    width: 50px;
    flex-grow: 0;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.optionPrice {
    font-size: 12px;
    padding: 0 5px;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* TAX - TAX - TAX - TAX - TAX - TAX - TAX - TAX - TAX - TAX - TAX - TAX - TAX */

.itemTaxCell {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 35px;
    border: solid 1px #ffffff;
    flex-shrink: 0;
}

.itemTax {
    font-size: 12px;
    cursor: default;
}

.optionTaxCell {
    border: solid 1px #ffffff;
    flex-grow: 0;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.optionTax {
    font-size: 12px;
    padding: 0 5px;
}

/* DUPLICATE BUTTON - DUPLICATE BUTTON - DUPLICATE BUTTON - DUPLICATE BUTTON */

.duplicateButton {
    background-color: #cec58a;
    transition: background-color 0.3s ease;
}

.duplicateButton:hover {
    background-color: #ffe100;
}

/* DELETE BUTTON - DELETE BUTTON - DELETE BUTTON - DELETE BUTTON - DELETE BUTTON */

.deleteButton {
    background-color: #d18d8d;
    transition: background-color 0.3s ease;
}

.deleteButton:hover {
    background-color: #ff0000;
}

/* CONFIRM DELETE BTN - CONFIRM DELETE BTN - CONFIRM DELETE BTN  - CONFIRM DELETE BTN */

.confirmDeleteBtn {
    border: none;
    border-radius: 3px;
    height: 30px;
    width: 35px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.confirmDeleteBtn:hover {
    background-color: #b1b1b1;
}

/* VISIBILITY BUTTON - VISIBILITY BUTTON - VISIBILITY BUTTON - VISIBILITY BUTTON */

.visibilityButton {
    background-color: #cdcdcd;
    transition: background-color 0.3s ease;
}

.visibilityButton:hover {
    background-color: #b1b1b1;
}

/* CLOCK BUTTON - CLOCK BUTTON - CLOCK BUTTON - CLOCK BUTTON - CLOCK BUTTON */

.clockButton {
    background-color: #cdcdcd;
    transition: background-color 0.3s ease;
}

.clockButton:hover {
    background-color: #b1b1b1;
}

/* UNAVAILABLE - UNAVAILABLE - UNAVAILABLE - UNAVAILABLE - UNAVAILABLE */

.unavailable {
    background-color: #bbbbbb;
}

.hiddenSection {
    background-color: #7289c1;
    transition: background-color 0.3s ease;
}

.hiddenSection:hover {
    background-color: #1118f1;
}

/* LIST BTN - LIST BTN - LIST BTN - LIST BTN - LIST BTN - LIST BTN -*/

.listButton {
    background-color: #cdcdcd;
    transition: background-color 0.3s ease;
}

.listButton:hover {
    background-color: #b1b1b1;
}

/* CLOSE MODAL BTN - CLOSE MODAL BTN - CLOSE MODAL BTN - CLOSE MODAL BTN */

.closeOsModalBtn {
    top: 10px;
    right: 10px;
    font-size: 15px;
    cursor: pointer;
    padding: 2.5px 5px;
    border: none;
    background-color: #ffffff;
}

.closeBtnRow {
    display: flex;
    justify-content: end;
    margin-bottom: 15px;
    transition: color 0.3s ease;
}

.closeOsModalBtn:hover {
    color: red;
}

/* NEW BUTTON - NEW BUTTON - NEW BUTTON - NEW BUTTON - NEW BUTTON */

#newSectionBtnContainer {
    display: flex;
    justify-content: start;
}

.sectionAddNew {
    text-wrap: nowrap;
    padding: 5px;
    margin: 10px 0;
    border-radius: 5px;
    border: 0.5px solid #cbc8bb;
    transition: background-color 0.3s ease;
}

.sectionAddNew:hover {
    background-color: #fff6cf;
}

.newItemBtnContainer {
    display: flex;
    justify-content: start;
}

.newOsBtnContainer {
    display: flex;
    justify-content: start;
}

.itemAddNew {
    text-wrap: nowrap;
    padding: 5px;
    margin: 10px 0;
    border-radius: 5px;
    border: 0.5px solid #c4c1d5;
    transition: background-color 0.3s ease;
}

.itemAddNew:hover {
    background-color: #e2def9;
}

.osAddNew {
    text-wrap: nowrap;
    padding: 5px;
    margin: 10px;
}

/* NEW OS BUTTON - NEW OS BUTTON - NEW OS BUTTON - NEW OS BUTTON */

.newOsButton {
    background-color: #cdcdcd;
    transition: background-color 0.3s ease;
}

.newOsButton:hover {
    background-color: #b1b1b1;
}

/* MAX LENGTH BUTTON - MAX LENGTH BUTTON - MAX LENGTH BUTTON - MAX LENGTH BUTTON */

.maxLengthButton {
    background-color: #cdcdcd;
    transition: background-color 0.3s ease;
}

.maxLengthButton:hover {
    background-color: #b1b1b1;
}

/* POPUP - POPUP - POPUP - POPUP - POPUP - POPUP - POPUP - POPUP - POPUP - POPUP */

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.popup-content {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.popup-content button {
    margin: 15px 5px 5px 5px;
}

/* TOOLTIP - TOOLTIP - TOOLTIP - TOOLTIP - TOOLTIP - TOOLTIP - TOOLTIP - TOOLTIP */

.tooltip {
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    z-index: 100;
    display: none;
    font-size: 15px;
    width: 200px;
    text-align: center;
}

/* CLOCK - CLOCK - CLOCK - CLOCK - CLOCK - CLOCK - CLOCK - CLOCK - CLOCK */

.clockModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.clock-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    top: 20%;
    max-width: 400px;
    padding: 10px;
}

.clock-content {
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    width: 700px;
    /* height: 400px; */
}

.clock-header {
    padding: 10px 0 15px 0;
    background-color: #342f58;
    border-bottom: 1px solid #ccc;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
}

.clock-title {
    color: #ffffff;
    display: inline-block;
    font-size: 17px;
}

.timeInput {
    margin-top: 5px;
    border: solid 1px #a9a9a9;
    border-radius: 5px;
}

.clock-footer {
    padding: 0 15px 15px 15px;
    border-bottom: none;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.clock-body {
    padding: 15px;
    text-align: center;
}

.clockBtn-close {
    position: absolute; 
    color: #ffffff;
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
    cursor: pointer;
    padding: 5px;
    transition: color 0.3s ease;
}

.clockBtn-close:hover {
    color: #fb5555;
}


.clockBtn-closeOsModalBtn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.availability-container {
    margin-bottom: 10px; /* Add space below the "Section Availability" button */
}

.action-buttons {
    display: flex; /* Align buttons horizontally */
    gap: 10px; /* Space between buttons */
}

.clockBtn {
    padding: 10px 20px; /* Adjust padding if needed to match the size */
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: background-color 0.3s;
}


.action-buttons .clockBtn {
    width: 150px; 
    height: 40px; 
    padding: 10px 20px; 
    box-sizing: border-box; 
    margin: 5px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: background-color 0.3s;
}

.clockBtn-save {
    background: #4000ff;
    color: white;
    transition: background-color 0.3s ease;
}

.clockBtn-save:hover {
    background: #7a4ffc;
}

.removeBtn {
    background-color: #ff0000;
    color: white;
}
.removeBtn-disabled {
    background: #d4d4d4;
    color: #a8a8a8;
    font-weight: 500;
    border: 1px solid #b0b0b0;
    cursor: not-allowed !important;
    transition: opacity 0.3s ease;
}

.removeBtn:hover {
    opacity: 0.7;
}

.clockBtn-save-disabled {
    background: #d4d4d4;
    color: #a8a8a8;
    font-weight: 500;
    border: 1px solid #b0b0b0;
    cursor: not-allowed !important;
}

.clockBtn-green {
    background: green;
    color: white;
    font-size: 14px;
    border: 1px solid;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.clockBtn-green:hover {
    background-color: #42b842;
}

.clockBtn-red {
    background: #ff0000;
    color: white;
    font-size: 14px;
    border: 1px solid;
    border-radius: 5px;
    width: fit-content;
    transition: background-color 0.3s ease;
}

.clockBtn-red:hover {
    background-color: rgb(254, 58, 58);
}

.availabilityBtn.clockBtn-disabled {
    background-color: grey;
    color: darkgrey; 
    cursor: not-allowed; 
    opacity: 0.5;
}

.clockBtn-availability-enabled {
    background: #36c6d3;
    color: white;
}
.clockBtn-availability-disabled {
    background: #d4d4d4;
    color: #a8a8a8;
    font-weight: 500;
    border: 1px solid #b0b0b0;
    cursor: not-allowed;
}

.clockTable {
    width: 100%;
    border-collapse: collapse;
}

.clockTableHeader,
.clockTableData {
    border: 1px solid #ccc;
    text-align: center;
    padding: 8px;
}

.clockTableHeader {
    background-color: #f2f2f2;
}

.clockTBody {
    margin-top: 10px;
}

.clockBtn-unsetButton {
    background: #f1c40f;
    border-color: #dab10d;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid #b0b0b0;
    border-radius: 4px;
    margin-top: 15px;
    padding: 15px 25px;
    width: auto;
}

/*DROPDOWNMENU CLOCK - DROPDOWNMENU CLOCK - DROPDOWNMENU CLOCK - DROPDOWNMENU CLOCK*/
.dropdownmenucollapsed {
    position: relative;
    display: inline-block;
  }

  .dropdownmenu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    right: 0; 
    top: 100%; 
}


  .showdropdownmenu {
    display: block;
  }


  .radio-option-container {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.radio-button {
    margin-right: 5px; 
}

.radio-option-label {
    flex-grow: 1;
    word-wrap: break-word;
    font-size: 12px;
}

  .buttondropdownmenucollapsed {
    background-color: #342f58;
    color: white; 
    font-weight: bold; 
    border: none; 
    padding: 5px 10px; 
    font-size: 14px; 
    cursor: pointer; 
    border-radius: 5px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-right: 10px; 
}

.clock-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-top {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
    position: relative; 
}

.header-bottom {
    width: 100%; 
    display: flex;
    justify-content: flex-end; 
}

/*SECTION LIST - SECTION LIST - SECTION LIST*/
.list {
    width: 300px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    opacity: 1;
    visibility: visible;
    transition: opacity 0.4s linear;
    padding: 10px;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    z-index: 1000;
    border-radius: 10px;
    position: absolute;
    left: 0; /* Aligns it to the left of the button */
    top: 45px;
    margin-left: 15px;
}

.list.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s linear, visibility 0s linear 0.4s;
}

.list-title {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
}

.list-content {
    margin-top: 10px;
}

.form-body {
    margin-bottom: 15px;
}

.form-control {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    resize: none; /* Disabling resize for the textarea */
}

.form-actions .row {
    display: flex;
    justify-content: space-between;
}

.submit-button-list {
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #342f58;
    border: none;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button-list:hover {
    background-color: #7c74b5;
}

.submit-button-list:active {
    background-color: #004999;
}
.cancel-button-list {
    padding: 8px 12px;
    border-radius: 4px;
    color: #000000;
    background-color: #e1e5ec;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cancel-button-list:hover {
    background-color: #ed7171;
}

.cancel-button-list:active {
    background-color: #888;
}

.error-message {
    color: #ff0000;
    background-color: #ffebeb;
    border: 1px solid #ff0000;
    padding: 5px;
    margin-top: 10px;
    border-radius: 4px;
    font-size: 12px;
    text-align: center;
}

.form-control.error {
    border: 1px solid #ff0000; /* Red border to indicate error */
    /* Optional: background color change
    background-color: #ffebeb; */
}
/* SELECT OPTION SET MODAL - SELECT OPTION SET MODAL - SELECT OPTION SET MODAL - SELECT OPTION SET MODAL */

.selectOsModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.selectOsModalContainer {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 80vw;
    height: 70vh;
}
.selectOsRowHeader {
    display: flex;
    height: auto;
    width: 100%;
    justify-content: space-between;
    padding: 7.5px 0px;
    margin: 7.5px 0;
    border-radius: 5px;

    &.expanded .osDropdownButton {
        transform: rotate(45deg);
    }
    &.folded .osDropdownButton {
        transform: rotate(-45deg);
    }
    &.dragging {
        border: 1px solid black;
        opacity: 0.75;
    }
}

.selectOsRowHeader.odd {
    background-color: #342f58;
}

.selectOsRowHeader.even {
    background-color: #b29346;
}

.selectOsNameHeader {
    flex-grow: 1;
    color: #ffffff;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.selectOsModalBody {
    display: flex;
    height: 95%;
}

#searchOsInput {
    width: -webkit-fill-available;
    padding: 5px;
}

.selectOsBodyLeft {
    width: 50%;
    margin-right: 10px;
    overflow-y: auto;
    max-height: calc(70vh - 30px); /* Adjust max height to consider margins */
}

.osInThisItem {
    height: 30px;
    background-color: #bebccb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.selectOsBodyRight {
    width: 50%;
    margin-left: 10px;
    overflow-y: auto;
    max-height: calc(70vh - 30px); /* Adjust max height to consider margins */
}

.btnAndSelectOption {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.addOrDeleteBtn {
    margin-right: 5px;
    width: 20px;
    height: 25px;
    background-color: rgb(255, 255, 255, 0.35);
    color: #ffffff;
    border: #787777 1px solid;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.addOrDeleteBtn:hover {
    background-color: rgb(255, 255, 255, 0.95);
    color: #555555;
}

.osEditButton {
    width: 50px;
    display: flex;
    justify-content: center;
    padding: 2.5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 0.5px solid #cbc8bb;
    transition: background-color 0.3s ease;
}

.osEditButton:hover {
    background-color: #fff6cf;
}

.osEditButtonImg {
    width: 25px;
}

.addNewOsButton {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5px;
    margin-bottom: 5px;
    margin-left: 5px;
    border-radius: 5px;
    border: 0.5px solid #cbc8bb;
    transition: background-color 0.3s ease;
}

.addNewOsButton:hover {
    background-color: #fff6cf;
}


.osRow {
    width: 40%;
}

.expandButtonContainer {
    display: flex;
    justify-content: end;
}

.expandListButton {
    background-color: #cdcdcd;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.expandListButton:hover {
    background-color: #b1b1b1;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 30px;
    width: 55%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.showOsList {
    max-height: -webkit-fill-available;
    display: block;
    overflow-y: auto;
}

/* Rotate the arrow when the dropdown is open */
.expandListButton .expandListButtonImg {
    display: inline-block;
    transition: transform 0.3s ease;
}

.expandListButton.rotate .expandListButtonImg {
    transform: rotate(180deg);
}

.osRowList {
    display: flex;
}

.osNameAndLengthList {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.osListRowHeader {
    display: flex;
    padding: 5px;
    background-color: #e5e4ec;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.osListRowHeader:hover {
    background-color: #cac5e6;
}

.osListSelectOptionContainer {
    display: flex;
    width: 20%;
    justify-content: end;
    align-items: center;
}

.osLenghtList {
    margin: 0 20px 0 10px;
    display: flex;
    align-items: center;
}

.menu-item-background {
    background-color: yellow;
}

.menu-section-background {
    background-color: lightblue;
}

.osModalFooter {
    padding: 15px
}

.listedItem {
    list-style: none;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-top: 5px;
    border-radius: 5px;
    justify-content: space-between;
}

.listedItem.unavailable {
    background-color: #00000041;
}

.itemListContainer {
    padding-top: 5px;
    padding-left: 10px;
    flex-direction: column;
}

.sectionHeader {
    height: 35px;
    margin-top: 10px;
    padding-left: 10px;
    background-color: #342f58;
    color: #ffffff;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.sectionHeader.unavailable {
    background-color: #00000091;
}

.addBtn {
    margin-right: 5px;
    width: 30px;
    height: 25px;
    background-color: #cfcfcf;
    color: #4c4c4c;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.addBtn:hover {
    background-color: #44f7a9;
    color: #202020;
}

.deleteBtn {
    margin-right: 5px;
    width: 30px;
    height: 25px;
    background-color: #cfcfcf;
    color: #4c4c4c;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.deleteBtn:hover {
    background-color: #f74444;
    color: #202020;
}

.filteredItemsCountContainer {
    display: flex;
    margin-left: 5px;
}

.topButtonsCell {
    padding: 10px 15px 0 15px;
}

.optionSetListButton {
    height: 30px;
    width: 30px;
}

/* LEFT CONTAINER - LEFT CONTAINER -LEFT CONTAINER -LEFT CONTAINER - LEFT CONTAINER - LEFT CONTAINER */

.boxLeftMenu {
    height: 100%;
    &.expanded .leftBtn {
        transform: rotate(135deg);
    }
    &.folded .leftBtn {
        transform: rotate(-45deg);
    }
}

.leftBtnContainer {
    height: 98vh;
    width: 25px;
    background-color: #342f58;
    margin-right: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: end;
    transition: width 0.3s ease-in-out;
    position: fixed;
    z-index: 2;
}

.leftBtn {
    display: block;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    transition: transform 0.1s linear, opacity 0.3s ease;
    cursor: pointer;
}

.leftBtn:hover {
    opacity: 0.5;
}

.slotsBtnsContainer {
    display: none;
    position: fixed;
    top: 0;
    height: 98vh;
    width: 15%;
    background-color: #342f58;
    margin-top: 10px;
    transition: left 0.3s ease-in-out;
    z-index: 10;
}

.slotsBtnsContainer.show {
    flex-direction: column;
    align-items: center;
}

.slotBtn {
    margin-top: 15px;
    width: 85%;
    font-size: 14px;
    padding: 5px 0;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    border: 0.5px solid #746f9b;
    transition: background-color 0.3s ease;
}

.slotBtn:hover {
    background-color: #dcd5ec;
}

.slotBtn:first-child {
    margin-top: 75px;
}

/* TAX - TAX TAX - TAX - TAX - TAX - TAX - TAX - TAX - TAX - TAX - TAX - TAX */

#taxContainer {
    background-color: #e8e9ff;
    height: auto;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.taxHeaderContainer {
    display: flex;
    align-items: center;
    background-color: #918ef6;
    margin: 10px;
    border-radius: 5px;
    height: 30px;
    padding: 0 10px;
    justify-content: space-between;
}

.taxTypeContainer {
    display: flex;
    padding: 5px 10px;
    height: 30px;
    align-items: center;
}

.currentTaxType {
    padding: 2.5px 5px;
}

.taxTypeCheckboxes {
    display: flex;
}

.displayTaxContainer {
    display: flex;
    padding: 5px 10px;
    height: 30px;
    align-items: center;
}

.currentDisplayTax {
    padding: 2.5px 5px;
}

.displayTaxCheckboxes{
    display: flex;
}

.checkboxContainer {
    margin-left: 10px;
}

.checkboxLabel {
    margin-left: 5px;
}

.newTaxContainer {
    display: flex;
    padding: 5px 10px;
}

.taxNameContainer {
    display: flex;
    align-items: center;
}

.taxName {
    width: 100px;
    background-color: #ffffff;
    margin: 0 10px;
    display: flex;
    align-items: center;
    padding: 2px;
    height: 20px;
    border-radius: 5px;
}

.taxPercentContainer {
    display: flex;
    align-items: center;
}

.taxPercent {
    width: 100px;
    background-color: #ffffff;
    margin: 0 10px;
    display: flex;
    align-items: center;
    padding: 2px;
    height: 20px;
    border-radius: 5px;
}

.addTaxContainer {
    display: flex;
    padding: 5px 10px;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.taxButton {
    padding: 2.5px 5px;
    border-radius: 5px;
    border: 1px solid #6b6b6b;
    transition: background-color 0.3s ease;
}

.taxButton:hover {
    background-color: #dcd5ec;
}

.editTaxButton {
    margin-right: 10px;
}

.savedTaxContainer {
    display: flex;
    padding: 5px 10px;
    height: 30px;
    align-items: center;
    justify-content: space-between;
}

.taxNameAndPercent {
    display: flex;
}

.editTaxContainer {
    display: flex;
    padding: 5px 10px;
}