* {
    /* font-family: 'Commissioner', sans-serif;
    font-family: 'Fraunces', serif; */
    font-family: 'Roboto', sans-serif;
}

.tablebody {
    width: 100vw;
    max-width: 100%;
    table-layout: fixed;
}

.sectionContainer {
    height: auto;
    background-color: lightblue;
    list-style: none;
    margin: 15px 0;
}

.sectionNameCell {
    padding: 5px;
    width: 205px;
}

.sectionDescCell {
    padding: 5px;
    width: auto;
}

.sectionOsCell {
    padding: 5px;
    width: auto;
}

.sectionPriceCell {
    padding: 5px;
    width: 50px;
}

.sectionTaxCell {
    padding: 5px;
    width: 35px;
}


.unavailable {
    background-color: #bbbbbb;
}

.sectionName {
    font-size: 14px;
    font-weight: bold;
}

.sectionDesc {
    font-size: 12px;
}

.emptyName {
    color: rgb(203, 50, 76);
}

.sectionClicked {
    background-color: white;
    padding: 2px;
}