* {
    font-family: 'Roboto', sans-serif;
    border-spacing: 0;
    margin: 0;
    padding: 0;
}

/* BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY - BODY */   

.sectionTable {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.itemTable {
    width: 100%;
    margin: 5px 0px;
}

.osContainer {
    display: flex;
    flex-direction: column;
    align-items: end;
    border-radius: 5px;
    margin: 5px 0px;
}

.dropAndName {
    display: flex;
}

.osNameHeader {
    width: 150px;
    color: #ffffff;
}

.osSelectOptionContainer {
    color: #ffffff;
}

.optionContainer {
    height: auto;
    width: 50%;
    padding: 7.5px 0px;
}

.osRowOption {
    display: flex;
    padding: 7.5px 15px;
    justify-content: space-between;
    background-color: #f5f5f5;
}

.optionText {
    font-size: 13px;
}

/* SECTION - SECTION - SECTION - SECTION - SECTION - SECTION - SECTION */

.sectionRow {
    height: auto;
    background-color: #fff6cf;
    list-style: none;
    display: flex;

    &.expanded .sectionDropdownButton { 
        transform: rotate(45deg); 
    }
    &.folded .sectionDropdownButton { 
        transform: rotate(-45deg); 
    }

    &.dragging {
        border: 1px solid black;
        opacity: .75;
        transform: translateX(10px);
    }

    &.clickOnDrag {
        transform: translateX(10px)
    }
}

.itemRow {
    display: flex;
    height: auto;
    background-color: #e2def9;
    list-style: none;

    &.expanded .sectionDropdownButton { 
        transform: rotate(45deg); 
    }
    &.folded .sectionDropdownButton { 
        transform: rotate(-45deg); 
    }

    &.dragging {
        border: 1px solid black;
        opacity: .75;
        transform: translateX(10px);
    }

    &.clickOnDrag {
        transform: translateX(10px)
    }
}

.osRowHeader {
    display: flex;
    height: auto;
    width: 50%;
    justify-content: space-around;
    padding: 7.5px 0px;

    &.expanded .osDropdownButton { 
        transform: rotate(45deg); 
    }
    &.folded .osDropdownButton { 
        transform: rotate(-45deg); 
    }

    &.dragging {
        border: 1px solid black;
        opacity: .75;
        transform: translateX(10px);
    }

    &.clickOnDrag {
        transform: translateX(10px)
    }
}

.osRowHeader.odd {
    background-color: #342F58;
}

.osRowHeader.even {
    background-color: #B29346;
}

.osRowHeader:first-of-type {
    border-radius: 5px 5px 0px 0px;
}

.osRowHeader:last-of-type {
    border-radius: 0px 0px 5px 5px;
}

.sectionClicked {
    background-color: #ffffff;
    padding: 2px;
}

/* DROPDOWN - DROPDOWN - DROPDOWN - DROPDOWN - DROPDOWN - DROPDOWN - DROPDOWN */

.sectionDropdownCell {
    width: 25px;
    border: solid 1px #ffffff;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.itemDropdownCell {
    display: flex;
    align-items: center;
    width: 25px;
    border: solid 1px #ffffff;
    flex-shrink: 0;
}

.osDropdownCell {
    display: flex;
    align-items: center;
    width: 25px;
    flex-shrink: 0;
}

.boxDropdownButton {
    display: flex;
    margin-left: 25%;
}

.sectionDropdownButton {
    display: block;
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    border-right: 2px solid #555;
    border-bottom: 2px solid #555;
    transition: transform 0.1s linear;
    cursor: pointer;
}

.sectionDropdownButton:hover {
    border-color: #afafaf;
}

.osDropdownButton {
    display: block;
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    transition: transform 0.1s linear;
    cursor: pointer;
}

.osDropdownButton:hover {
    border-color: #afafaf;
}

/* DRAG AND DROP - DRAG AND DROP - DRAG AND DROP - DRAG AND DROP - DRAG AND DROP */

.sectionDragCell {
    display: flex;
    align-items: center;
    width: 25px;
    justify-self: center;
    border: solid 1px #ffffff;
    flex-shrink: 0;
}

.sectionDragImg {
    width: 22px;
    cursor: grab;
    margin: 0
}

.dragging {
    transition: transform 0.01 linear;
}

.clickOnDrag {
    transition: transform 0.01 linear;
}

/* NAME - NAME - NAME - NAME - NAME - NAME - NAME - NAME - NAME - NAME */

.sectionNameCell {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 100px;
    border: solid 1px #ffffff;
    flex-shrink: 0;
}

.itemNameCell {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 100px;
    border: solid 1px #ffffff;
    flex-shrink: 0;
    cursor: text;
}

.sectionName {
    font-size: 13px;
    font-weight: bold;
    word-break: break-word;
}

/* DESCRIPTION - DESCRIPTION - DESCRIPTION - DESCRIPTION - DESCRIPTION */

.sectionDescCell {
    padding: 5px;
    flex-grow: 1;
    display: flex;
    align-items: center;    
    border: solid 1px #ffffff;
}

.itemDescCell {
    padding: 5px;
    flex-grow: 1;
    display: flex;
    align-items: center;    
    border: solid 1px #ffffff;
}

.sectionDesc {
    font-size: 12px;
}

/* OPTION SET - OPTION SET - OPTION SET - OPTION SET - OPTION SET - OPTION SET */


/* PRICE - PRICE - PRICE - PRICE - PRICE - PRICE - PRICE - PRICE - PRICE - PRICE */

.itemPriceCell {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 50px;
    border: solid 1px #ffffff;
    flex-shrink: 0;
}

.itemPrice {
    font-size: 12px;
}

/* TAX - TAX - TAX - TAX - TAX - TAX - TAX - TAX - TAX - TAX - TAX - TAX - TAX */

.itemTaxCell {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 35px;
    border: solid 1px #ffffff;
    flex-shrink: 0;
}

.itemTax {
    font-size: 12px;
    cursor: default
}

/* TOOLTIP - TOOLTIP - TOOLTIP - TOOLTIP - TOOLTIP - TOOLTIP - TOOLTIP - TOOLTIP */


.tooltip {
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    z-index: 100;
    display: none;
    font-size: 15px;
    width: 200px;
    text-align: center;
}

/* BUTTONS CELL - BUTTONS CELL - BUTTONS CELL - BUTTONS CELL - BUTTONS CELL */

.sectionButtonsCell {
    width: 25px;
    border: solid 1px #ffffff;
}

.sectionButton {
    border: solid 1px #000000;
    border-radius: 3px;
    height: 25px;
    width: 25px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionButtonImg {
    width: 20px;
}

/* DUPLICATE BUTTON - DUPLICATE BUTTON - DUPLICATE BUTTON - DUPLICATE BUTTON */

.duplicateButton {
    background-color: #ffed62;
}

.duplicateButton:hover {
    background-color: #f6dc18;
}

/* DELETE BUTTON - DELETE BUTTON - DELETE BUTTON - DELETE BUTTON - DELETE BUTTON */

.deleteButton {
    background-color: #f53d3d;
}

.deleteButton:hover {
    background-color: #eb1010;
}

/* VISIBILITY BUTTON - VISIBILITY BUTTON - VISIBILITY BUTTON - VISIBILITY BUTTON */

.visibilityButton {
    background-color: #cdcdcd;
}

.visibilityButton:hover {
    background-color: #b1b1b1;
}

/* CLOCK BUTTON - CLOCK BUTTON - CLOCK BUTTON - CLOCK BUTTON - CLOCK BUTTON */

.clockButton {
    background-color: #cdcdcd;
}

.clockButton:hover {
    background-color: #b1b1b1;
}

/* UNAVAILABLE - UNAVAILABLE - UNAVAILABLE - UNAVAILABLE - UNAVAILABLE */

.unavailable {
    background-color: #bbbbbb;
}

.hiddenSection {
    background-color: #5056ee;
}

.hiddenSection:hover {
    background-color: #1118f1;
}

/* NEW BUTTON - NEW BUTTON - NEW BUTTON - NEW BUTTON*/

.newItemBtnContainer {
    display: flex;
    justify-content: end;
}

#itemAddNew {
    text-wrap: nowrap;
    padding: 5px;
    margin: 10px;
}

#newSectionBtnContainer {
    display: flex;
    justify-content: end;
}

#sectionAddNew {
    text-wrap: nowrap;
    padding: 5px;
    margin: 0px 10px 10px 10px;
}

.osAddNew {
    padding: 2.5px 6px;
    margin-top: 10px;
    font-size: 15px;
}

/* POPUP - POPUP - POPUP - POPUP - POPUP - POPUP - POPUP - POPUP - POPUP - POPUP */

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.popup-content button {
    margin: 5px;
}


/* style.css */

.clockModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
  
.clock-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    top: 20%;
    max-width: 400px;
    padding: 10px;
}

.clock-content {
    background-color: #ffffff;
    border-radius: 25px;
    overflow: hidden;
    width: 700px;
    height: 400px;
}
  
.clock-header{
    padding: 15px;
    background-color: #3598dc;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.clock-title{
    color: #ffffff;
    display: inline-block;
    font-size: 15px;
}

.clock-footer {
    padding: 15px;
    border-bottom: none;
    text-align: center;
}
  
.clock-body {
    padding: 15px;
    text-align: center;
}
  
.clockBtn-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}
  
.clockBtn {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}
  
.clockBtn-save {
    background: #36c6d3;
    color: white;
}

.clockTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
  
.clockTableHeader, .clockTableData{
    border: 1px solid #ccc;
    text-align: center;
    padding: 8px;
}
  
.clockTableHeader {
    background-color: #f2f2f2;
}